.title {
    font-size: 90px;
    color: rgb(79, 75, 70);
    padding: 0 10px;
    background: rgb(229, 222, 195);
}
body {
    background-color: rgb(222, 222, 216);
}
.intro{
    font-size: 20px;
    border: 2px dashed rgb(79, 75, 70);
    border-radius: 15px;
    padding: 15px;
    width: 400px;
    float: left;
    margin: 50px;
    margin-right: 80px;
}
img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    border: 2px solid rgb(79, 75, 70);;
}
#center {
    margin: 10px auto 20px;
    display: block;
    border: 2px solid rgb(108, 65, 1);
    border-radius: 15px;
    padding: 15px;
    width: 720px;
}
#center:hover {
    background-color: rgb(230, 218, 201);
}
#firstp {
    color: rgb(255, 0, 238);
}
.group1 {
    color: rgb(95, 95, 141);
}
h2 {
    color: rgb(49, 46, 44);
}
a {
    color: rgb(101, 71, 31);
}